<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SecondTask</title>
    <link rel="icon" type="image/png" href="~/favicon.png" />
    <link rel="stylesheet" href="~/fonts/Mont/stylesheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/default.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container">
            <a class="brand" asp-controller="Countries" asp-action="Index">Задание #2</a>
            <nav>
                <ul>
                    <li>
                        <a asp-controller="Countries" asp-action="Index">Страны</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            Решение тестового задания #2 на позицию разработчика программного обеспечения для концерна «Энергомера»<br /> &copy; 2023 Шамсимухаметов Павел
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
