:root {
    --text-white: #fff;
    --text-dark: #000;
    --text-gray: #3D4756;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

    *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    font-family: Mont;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color);
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

table {
    border-spacing: 0 !important;
}

input,
button,
textarea {
    font-size: 16px;
    color: var(--text-color);
}

textarea {
    height: 9em;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

a,
a:visited {
    text-decoration: none;
    color: var(--text-color);
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

.container {
    position: relative;
    max-width: calc(1320px + 30px);
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

h1, h2, h3, h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
}

h2 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

input {
    font-family: Mont;
}

section {
    scroll-margin-top: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.text-center {
    text-align: center;
}

.grid {
    display: grid;
    gap: 1rem;
}

.grid-1 {
    grid-template-columns: 1fr;
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
    grid-template-columns: repeat(5, 1fr);
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.gap-4 {
    gap: 4rem;
}

.gap-5 {
    gap: 5rem;
}

.video {
    max-width: 100%;
    height: auto;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

@media (max-width: 992px) {
    .l-hide {
        display: none;
    }
}

@media (min-width: 991px) {
    .m-hide {
        display: none;
    }
}

@media (max-width: 768px) {
    section {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    h2 {
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 2.6rem;
    }
}

@media (max-width: 410px) {
    h1 {
        font-size: 2rem;
    }
}
